[Unit]
Description=Forge4Flow-Manager
After=forged-provider.service

[Service]
MemoryLimit=500M
ExecStart=/usr/local/bin/f4f-manager up
Restart=on-failure
RestartSec=10s
WorkingDirectory={{.Cwd}}

[Install]
WantedBy=multi-user.target
